<form method="post" action="{{ path('app_sponsor_delete', {'idSponsor': sponsor.idSponsor}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce sponsor ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sponsor.idSponsor) }}">
    <button class="{{ button_class|default('btn btn-danger') }}">
        <i class="bi bi-trash"></i> Supprimer
    </button>
</form>
